# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Be sure to rename this file to .env and add it to your .gitignore, lest you publish your private variables!

DATABASE_URL="mysql://<user>@<address:port>/<database-name>"
GOOGLE_ID="<your-google-id>.apps.googleusercontent.com"
GOOGLE_SECRET="<your-google-secret>"
NEXTAUTH_SECRET="<your-next-auth-secret>"
NEXTAUTH_URL="<your-next-auth-server>"
GOOGLE_PROJECT_ID="<your-google-storage-project>"
CLIENT_EMAIL="<your-google-storage-user>@<project>.iam.gserviceaccount.com"
PRIVATE_KEY="<your-private-key>"
BUCKET_NAME="<your-bucket-name>"